<extend name="Index:base" />
<block name="title"><title>添加轮播图</title></block>
<block name="sidebar">
	<include file="Index:sidebar" />
</block>
<block name="content">
		<div id="content" class="col-sm-8">
		 	<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title"><i class="glyphicon glyphicon-header"></i> 添	加	轮  播  图</h4>
				</div>

				<div class="panel-body">
					<form class="form-horizontal" action="{:U('Admin/Slideshow/Upload')}" method='post' enctype="multipart/form-data">

						<div class="form-group">
							<label for="name" class="col-sm-2 control-label">轮播图名字:</label>
							<div class="col-sm-5">
								<input type="text" class="form-control" placeholder="轮播图名字" name="name" id="name" />
								
							</div>
							<label class="col-sm-2 control-label"></label>
						</div>

						<div class="form-group">
							<label for="photo" class="col-sm-2 control-label">缩略图:</label>
							<div class="col-sm-5">
								<input type="file" class="form-control" placeholder="缩略图" name="photo" id="photo" onchange='PreviewImg(this)' />
								
							</div>
							<label class="col-sm-2 control-label"></label>
						</div>

						<div class="form-group">
							<label for="url" class="col-sm-2 control-label">URL:</label>
							<div class="col-sm-5">
								<input type="text" class="form-control" placeholder="跳转页" name="url" id="url" />
								
							</div>
							<label class="col-sm-2 control-label"></label>
						</div>

						<div class="form-group">
							<label for="describe" class="col-sm-2 control-label">描述:</label>
							<div class="col-sm-5">
								<input type="text" class="form-control" placeholder="描述" name="describe" id="describe" />
								
							</div>
							<label class="col-sm-2 control-label"></label>
						</div>

						<div class="form-group">
							<label for="sort" class="col-sm-2 control-label">排序:</label>
							<div class="col-sm-5">
								<input type="text" class="form-control" placeholder="排序" name="sort" id="sort" />
								
							</div>
							<label class="col-sm-2 control-label"></label>
						</div>

						<div class="form-group">
							<label for="belong" class="col-sm-2 control-label">页面:</label>
							<div class="col-sm-5">
								<input type="text" class="form-control" placeholder="属于页面" name="belong" id="belong" />
								
							</div>
							<label class="col-sm-2 control-label"></label>
						</div>							

						<div class="form-group">
							<label class="col-sm-2 control-label"></label>
							<div class="col-sm-5">
								<button type="submit" class="btn btn-success btn-add" id='button'>添加</button>
								
							</div>
							
						</div>

					</form>
				</div>

			</div>
		</div> 
	<script type='text/javascript'>
	$(document).ready(function(){
		alert('111');
		$('#belong').blur(function(){
			var $ur = $('#belong').val();
			if($ur == ''){
				$("#belong").val('属于页面不能为空');
			}
			    // alert('hello world');
			});

			$('#name').blur(function(){
			    var $name = $("#name").val();
			    if($name == ''){
			        $('#name').attr('type','text');
			        $("#name").val('名字不能为空');
			    }
			    // alert('hello world');
			});

			$('#url').blur(function(){
			    var $url = $("#url").val();
			    if($url == ''){
			        $("#url").val('跳转页不能为空');
			    }
			    // alert('hello world');
			});
			$('#describe').blur(function(){
			    var $describe = $("#describe").val();
			    if($describe == ''){
			        $("#describe").val('描述不能为空');
			    }
			    // alert('hello world');
			});
			$('#sort').blur(function(){
			    var $sort = $("#sort").val();
			    if($sort == ''){
			        $("#sort").val('排序不能为空');
			    }
			    // alert('hello world');
			});
			$('#submitId').click,function(){
				$.ajaxFileUpload({
					url:"{:U('Upload/yes')}", //你处理上传文件的服务端
					secureuri:false,//是否启用安全机制
					fileElementId:'file1',//file的id
					dataType: 'application/json',//返回的类型
					success: function (data) {
						alert('上传成功');
					}

				});
			function PreviewImg(imgFile) {
			  var filextension = imgFile.value.substring(imgFile.value
			    .lastIndexOf("."), imgFile.value.length);
			  filextension = filextension.toLowerCase();
			  if ((filextension != '.jpg') && (filextension != '.gif')
			    && (filextension != '.jpeg') && (filextension != '.png')
			    && (filextension != '.bmp')) {
			   alert("对不起，系统仅支持标准格式的照片，请您调整格式后重新上传，谢谢 !");
			   imgFile.focus();
			  } else {
			   var path;
			   if (document.all)//IE
			   {
			    imgFile.select();
			    path = document.selection.createRange().text;
			    document.getElementById("photo_info").innerHTML = "";
			    document.getElementById("photo_info").style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true',sizingMethod='scale',src=\""
			      + path + "\")";//使用滤镜效果  
			   } else//FF
			   {
			    path = window.URL.createObjectURL(imgFile.files[0]);// FF 7.0以上
			    //path = imgFile.files[0].getAsDataURL();// FF 3.0
			    document.getElementById("photo_info").innerHTML = "<img id='img1' width='120px' height='100px' src='"+path+"'/>";
			    //document.getElementById("img1").src = path;
			   }
			  }
			 }
		});
	</script>
</block>

