
<!-- 导航 -->
	<nav class="gtco-nav" role="navigation">
		<div class="gtco-container">
			<div class="row">
				<div class="col-sm-2 col-xs-12">
					<div id="gtco-logo"><a href="index.html"><img src="__PUBLIC__/himages/logo.png" alt=""></a></div>
				</div>
				<div class="col-xs-10 text-right menu-1 main-nav">
					<ul>
						<li class="active"><a href="index.html" data-nav-section="home" style="color:red;">首页</a></li>						
						<li><a href="zl.html" data-nav-section="blog">展馆建筑</a></li>						
						<li><a href="zx.html" data-nav-section="blog">房产装修</a></li>
						<li><a href="zx.html" data-nav-section="blog">酒店资讯</a></li>
						<li><a href="qc.html" data-nav-section="portfolio">汽车资讯</a></li>
						<li><a href="cy.html" data-nav-section="services">新闻动态</a></li>

					</ul>
				</div>
			</div>
			
		</div>
	</nav>